{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}

Integration Hub Salud DMS
{% endblock %}

{%block content %}


<h1> Welcome register one test</h1>

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Inscribase Hoy</legend>
            {{ form|crispy}}

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="sbumit"> Registrarme</button>

        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted"> Ya tiene cuenta? <a class="ml-2" href="#"> Ingresar</a>
        </small>

    </div>

</div>

{% endblock %}