<!doctype html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <link href="{% static "img/favicon.ico" %}" rel="shortcut icon">
    <title>{%block title %}{% endblock %} Health Marketplace</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{%  static "css/jumbotron.css" %}" rel="stylesheet">
    
    <style type="text/css">
        {% block styles %}
        {% endblock %}
    </style>
    
  </head>
  <body>
    
{%  include 'navbar.html' %}    


{%  include 'jumbotron_template.html' %}   
{% block jumboron %}
    
    
    
{% endblock  %}

<main role="main">

 

  <div class="container">
    <!-- Example row of columns -->
    {% block content %}
    
    
    
    {% endblock  %}

    

  </div> <!-- /container -->
<hr>
{% include 'footer.html' %}

</main>


{% include 'javascript.html' %}

<script type="text/javascript" src="">
    $(document).ready(function(){
        {% block jquery %}
        {% endblock  %}
    });
</script>

</body>
</html>
